* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    list-style: none;
}

.scrool {
    background: rgba(255, 255, 255, 0.55);
    border: 1px solid rgba(255, 255, 255, 0.73);
    box-sizing: border-box;
    backdrop-filter: blur(23px);
    border-radius: 24px;
    padding: 8px 9px;
    position: absolute;
    bottom: 25px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.search__area {
    background-image: url(./img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.search__area .top__menu {
    padding-top: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search__area .top__menu .text {
    background: rgba(255, 255, 255, 0.2);
    padding: 12px;
}

.search__area .top__menu .text h5 {
    font: normal bold 14px/21px Poppins;
    color: #000000;
}

.search__area .top__menu .text p {
    font: normal normal 8px/12px Poppins;
    color: #000000;
    opacity: 0.7;
}

.search__area .main {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.search__area .main .input_area {
    width: 635px;
    background: rgba(255, 255, 255, 0.55);
    border: 1px solid rgba(255, 255, 255, 0.73);
    box-sizing: border-box;
    backdrop-filter: blur(23px);
    border-radius: 24px;
    padding: 16px 32px;
}

.search__area .main .input_area input {
    background-color: transparent;
    border: none;
    outline: none;
    font: normal normal 14px/21px Poppins;
    color: #333333;
}
.search__area .main .input_area input::placeholder { 
    font: normal normal 14px/21px Poppins;
    color: #333333;
    opacity: 1; 
  }

.search__area .main .results {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.search__area .main .results .item {
    padding: 8px 12px;
    background: #FFFFFF;
    box-shadow: 0px 9px 25px rgba(0, 0, 0, 0.09);
    border-radius: 32px;
    font: normal 500 12px/18px Poppins;
    color: #191919;
    margin-right: 16px;
    cursor: pointer;
    margin-bottom: 16px;
}
@media only screen and (max-width: 700px) {
    .search__area {
        background-image: url(./img/bg-mob.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
    .search__area .main .input_area{
        width: 435px;
        padding: 16px 24px;
    }
}
@media only screen and (max-width: 400px){
    .search__area .top__menu{
        padding-top: 60px;
    }
    .search__area .top__menu img{
        width: 48px;
    }
    .search__area .main .input_area{
        width: 335px;
        padding: 16px 24px;
    }
    .search__area .main .results .item {
        font: normal 500 10px/15px Poppins;
        margin-right: 12px;
        padding: 6px 12px;
    }
}
@media only screen and (min-width: 1400px) {
    .search__area {
        background-size: 100% 100%;
        height: 100vh;
    }
}